---
import "../styles/global.css";
import { weserv } from "../utils/images";
const {
  title = "Kairoverse Technologies - Grab the opportunity to enrich your online business",
  description = `Web-development, Application Development, Web designing, Android, IOS development, consultations. MERN | MEVN | MEAN | JavaScript | Android | IOS | Consultation | Devops`,
  cover = "https://www.kairoverse.com/assets/og-image.png",
} = Astro.props;

const ogimage = weserv(cover, { height: 612, width: 612, quality: 60, output: 'webp' });
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap"
  rel="stylesheet"
/>

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.kairoverse.com/" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogimage} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://www.kairoverse.com/" />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ogimage} />
